body {
    text-align: center;
    background-color: rgb(190, 208, 190);
}

h1 {
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
    font-weight: 500;
    color: rgb(159, 117, 24);
}

.calculatorDisplay {
    max-width: 100%;
    height: 30px;
    border: 3px solid rgba(70, 69, 69, 0.887);
    background: lightblue;
    flex: 1 1 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.calculatorDisplay > p {
    padding-top: 0px;
    font-size: 24px;
    font-weight: bold;
    font-family:  Tahoma, Verdana, Segoe, sans-serif;
}

.calculatorFrame {
    box-sizing: content-box;
    border: 5px solid black;
    background: black;
    max-width: 200px;
    max-height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
}

.functionButton, .digitButton {
    width: 50px;
    height: 30px;
    flex: 1 0 auto;
    border-radius: 5px;
    border: 1px solid black;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;;
    font-weight: 500;
}

.digitButton {
    background-color: rgb(100, 170, 232);
}

.functionButton {
    background-color: rgb(242, 157, 82);
}